@import url(font/stylesheet.css);

* {
	box-sizing: border-box;
}

body {
	width: 1026px;
	height: 647px;
	margin:5px auto;
	font-family: Arial;
	color:#476b4f; 
    border: solid 1px #39af64;
	background-image: url("background2.jpg");
}

a:link{color:none;text-decoration:none;}
a:visited{color:#477b5f;text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{color:#478b6f;}

#sisi_kiri{
    width:512px;
	height:645px;
	float:left;
}

img{
	width: 100%;
	height: 100%;
}

#sisi_kanan{
	width:512px;
	height:645px;
	float:right;
	box-sizing: border-box;
	background-color:cyan;
}

#isi_sisi_kanan{
	margin: 0;
	width:268px;
	height:338px;
}

.input1{
	font-weight:bold;
	margin-top: 25px;
}

.input2{
	font-weight:bold;
	margin-top: 55px;
}

.logbut {
	padding:0;
    background-color: #39af64; /* Green */
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 14px;
	font-family: Arial;
	font-weight:bold;
    width: 129px;
    height: 37px;
    float:left;
}

.calink {
	padding-top: 9px;
    border: solid 1px #39af64;
    color:#476b4f;
    border-radius: 2px;
    font-size: 14px;
	font-family: Arial;
	font-weight:bold;
    width: 129px;
    height: 37px;
    background-color: white;
    float:right;
    text-align: center;
}

ul {
	margin:5px 0 0 0;
	padding:0;
}

li {
	text-align:center; 
	display: inline;
	margin: 0;
    font-size: 11px;
	font-family: Arial;
 	height: 12px;
 }

#forgot{
	float: right;
}

#remember{
	float:left;
}

#cb {
    margin: 1px 0 0 0;
    border: solid 1px #979797;
    border-radius: 2px;
    width: 11px;
    height: 11px;
    float: left;
}


input {
	padding:0;
    border: solid 1px #476b4f;
    border-radius: 10px;
    width: 268px;
    height: 41px;
}

h1{
	height: 36px;
	color: red important;
	/*font-family: 'Just Sunday';*/
}

#sliderku{
	width: 500px;
	margin:0 auto;
}

.slick-initialized .slick-slide {
	height: 150px;
	object-fit: cover;
	object-position: center; 
}
